name: Auto Tag on Push to Main
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  autotag:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Get current date for tag
        run: echo "TAG=v$(date +'%Y.%m.%d.%H%M')" >> $GITHUB_ENV

      - name: Create and push new tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git tag $TAG
          git push origin $TAG
      - name: Display tag created
        run: echo "Created tag:$TAG"
